    <div class="container">
        <footer class="footer">
        <div class="footer__container">

           <!--             <section class="address">
               <img src='/img/logo1.png' class="footer_logo" alt="Stumeta Logo">
                <address>
                    <p></p>
                    <p></p>
                </address>
           </section> -->

            <section class="venue">
                <p>Organiser:</p>
                <a href="https://www.dmg-ev.de" target="_blank">
			<img src={{ relURL "img/dmg-logo.png"}} class="hochschul_logo" title="dmg-logo" width=300px>
                </a>
            </section>

            <section class="navigation">
                <nav>
                    <ul>
                        
                        
                            <li>
                            <a class=" " href={{ relURL "datenschutz" }}>
                                 Privacy Policy
                            </a>
                            </li>
                        
                            <li>
                            <a class=" " href={{ relURL "impressum" }}>
                                  Impressum
                            </a>
                            </li>
                        
                        
                            <li>
                            <a class=" " href={{ relURL "contact" }}>
                                 Contact
                            </a>
                            </li>
                        
                      </ul>
                </nav></section>

        </div>
    </div>

  <!-- JavaScript and dependencies -->

  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
  {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

  <script src="{{$js.RelPermalink}}" defer></script>
</footer>
