        <header>
  <nav class="navbar navbar-expand-lg" id="nav-main">
    <div class="container-fluid">
      <a class="navbar-brand" id="link-logo" href="/">
         <!--<img class="logo" title="Logo" alt="Logo" src="{{ "img/logo1.png" | absURL }}">-->
         <h2>STUMETA2025</h2>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg width="26px" height="26px" viewBox="0 0 26 26">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="iPhone-6-double-col" transform="translate(-15.000000, -15.000000)" stroke-linecap="square" stroke="currentColor" stroke-width="3">
                  <g id="burger" transform="translate(16.000000, 19.000000)">
                      <path d="M0,1 L21,1" id="burger-upper"></path>
                      <path d="M0,9 L21,9" id="burger-middle"></path>
                      <path d="M0,17 L21,17" id="burger-lower"></path>
                  </g>
              </g>
          </g>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          
          <li class="nav-item">
            <a class="nav-link " href="/register">
              
              <span>Register</span>
            </a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle without-arrow " href="/program/" aria-label="Program">
              
             <span>Program</span>
            </a>
            <a class="nav-link dropdown-toggle mobile-dropdown-button hidden-desktop " role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false"></a>

              <ul class="dropdown-menu dropdown-menu-burger " aria-labelledby="navbarDropdown">
              
              <li>
                <a class="dropdown-item " href="">Schedule</a>
              </li>
              
            </ul>
          </li>-->
          <li class="nav-item">
            <a class="nav-link " href="/program/">
              
              <span>Program</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " href="/partner/">
              
              <span>Partners</span>
            </a>
          </li>
          
          
          
          
          <li class="nav-item">
            <a class="nav-link " href="/faq/">
              
              <span>FAQ</span>
            </a>
          </li>
          
          <!--<li class="nav-item">
            <a class="nav-link " href="/faq/">
              
               <img alt="self-Logo" src="img/instagram.svg">
            </a>
          </li>-->
          
         <!-- <li class="lightswitch">
            <a id="lightswitch" href="#"><div class="lightswitch-knob"></div></a>
         </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
