{{ define "main" }}

<div class="container py-6">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 mx-auto col-sm-8 col-lg-6">
            <img src="img/logo_large_noborder.png" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy" width="400" height="300">
        </div>
        <div class="col-lg-6">

  <div class="hero" id="headline">
    <span class="month-year">41. StuMeTa</span>
    <span class="days">29.5 - 1.6</span>
    <span class="what">Hamburg 2025</span>
            </div>


        </div>
    </div>
</div>

{{ end }}
