{{ define "main" }}

<div class="container py-6">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 mx-auto col-sm-8 col-lg-6">
            <img src="img/logo_large.jpg" class="d-block mx-lg-auto img-fluid rounded-5" alt="" loading="lazy" width="400" height="300">
        </div>
        <div class="col-10 mx-auto col-sm-8 col-lg-6">

  <div class="hero" id="headline">
     <!--<span class="month-year">41th StuMeTa</span>-->
    <span class="days">28.5 - 1.6</span>
    <span class="what">41st StuMeTa</span>
            </div>


        </div>
    </div>
</div>

<div class="w-75 d-flex p-2 mx-auto">
<article>
	<h2> Moin!</h2>  
	After over 10 years, the legendary StuMeTa finally comes back to Hamburg! We are super excited :)

	<p>
	<h3> StuMeTa &mdash; what's that!?</h3>
	StuMeTa - that stands for Student Meteorology Conference (German: Studentische Meteorologie Tagung). Every year in May, students from all over Germany, Austria and Switzerland meet to have a great time together. The program includes:
	<br>
	<br>
	<ul>
		<li> Interesting talks 🧑‍🏫 </li>
		<li> Workshops 🛠️</li>
		<li> Excursions 🎒</li>
		<li> Poster Session 🪧</li>
		<li> Many social activities &#x1F973; </li>
	</ul>
	<br>
	Find more about StuMeTa in general on the official <a href="https://stumeta.net">website!</a>
	</p>
</article>

</div>

<div class="w-75 d-flex p-2 mx-auto">
<a class="button-big button-hollow" href="program.html" title="">
            
            Program
            <span class="button-arrow">
    <svg><use xlink:href="#arrow"></use></svg>
</span></a>
</div>


{{ end }}
