{{ define "main" }}

<div class="container py-6">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 mx-auto col-sm-8 col-lg-6">
            <img src="img/logo_large_noborder.png" class="d-block mx-lg-auto img-fluid rounded-5" alt="" loading="lazy" width="400" height="300">
        </div>
        <div class="col-10 mx-auto col-sm-8 col-lg-6">

  <div class="hero" id="headline">
     <!--<span class="month-year">41th StuMeTa</span>-->
    <span class="days">29.5 - 1.6</span>
    <span class="what">41th StuMeTa</span>
            </div>


        </div>
    </div>
</div>

<div class="d-flex p-2">
<article>
   
StuMeTa - that stands for Student Meteorology Conference (German: Studentische Meteorologie Tagung). It is an annual meeting of meteorology and atmospheric science students from Germany, Austria and Switzerland. The main purpose is to exchange knowledge between students from different locations. Lectures, workshops and excursions are offered, but there is also time for leisure activities. StuMeTa usually takes place over the weekend of Ascension (public holiday in May) from Wednesday to Sunday. You can find more information on the website  https://stumeta.net/.
</article>
</div>

{{ end }}
